<?xml version="1.0"?>

<robot name="pera" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Included URDF Files -->
    <xacro:include filename="$(find pera_description)/urdf/arms/ar_markers.urdf.xacro" />
    <xacro:include filename="$(find pera_description)/urdf/arms/materials.urdf.xacro" />
    <xacro:include filename="$(find pera_description)/urdf/arms/macro_definitions.xacro" />
<!--    <xacro:include filename="$(find pera_description)/urdf/arms/arm.transmission.xacro" />-->
    <xacro:include filename="$(find pera_description)/urdf/arms/arm.urdf.xacro" />

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_controller_manager" filename="libgazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1000.0</updateRate>
    </plugin>

<!--  
   <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/smart_arm</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
   </plugin>
-->

  </gazebo>

 <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <!-- the arm -->
  <xacro:arm whichside="right" sidesign="1.0" rollsign="+" parent="world">
    <origin rpy="0 -1.57 0" xyz="0 0 1.0"/>
  </xacro:arm>

  <!-- Camera -->
  <joint name="camera_joint" type="fixed">
    <origin xyz="1 -0.2 0.2" rpy="0 0 3.14159"/>
    <parent link="world"/>
    <child link="camera_link"/>
  </joint>

  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<box size="0.02 0.02 0.02"/>
      </geometry>
      <material name="Red"/>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <!-- camera -->
  <gazebo reference="camera_link">
    <sensor type="camera" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.  
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>smart_arm/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>  


  <gazebo reference="camera_link">
    <material>Orange</material>
    <turnGravityOff>false</turnGravityOff>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Red</material>
  </gazebo>

</robot>
